---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_API_KEY/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 837ms
      X-Forecast-Api-Calls:
      - '2'
      X-Response-Time:
      - 98.797ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1578865539,"summary":"Partly
        Cloudy","icon":"partly-cloudy-day","nearestStormDistance":12,"nearestStormBearing":221,"precipIntensity":0,"precipProbability":0,"temperature":44.91,"apparentTemperature":45.11,"dewPoint":-2.1,"humidity":0.14,"pressure":1012.1,"windSpeed":2.17,"windGust":7.92,"windBearing":52,"cloudCover":0.46,"uvIndex":1,"visibility":10,"ozone":383.5},"minutely":{"summary":"Partly
        cloudy for the hour.","icon":"partly-cloudy-day","data":[{"time":1578865500,"precipIntensity":0,"precipProbability":0},{"time":1578865560,"precipIntensity":0,"precipProbability":0},{"time":1578865620,"precipIntensity":0,"precipProbability":0},{"time":1578865680,"precipIntensity":0,"precipProbability":0},{"time":1578865740,"precipIntensity":0,"precipProbability":0},{"time":1578865800,"precipIntensity":0,"precipProbability":0},{"time":1578865860,"precipIntensity":0,"precipProbability":0},{"time":1578865920,"precipIntensity":0,"precipProbability":0},{"t[...]
