---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_API_KEY/39.7392358,-104.990251,1579059119
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 184ms
      X-Forecast-Api-Calls:
      - '2'
      X-Response-Time:
      - 28.351ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1579059119,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":38.54,"apparentTemperature":35.37,"dewPoint":9.06,"humidity":0.29,"pressure":1012.2,"windSpeed":4.22,"windGust":5.89,"windBearing":183,"cloudCover":0,"uvIndex":0,"visibility":10,"ozone":353.8},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1578985200,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":26.97,"apparentTemperature":26.97,"dewPoint":6.54,"humidity":0.41,"pressure":1015.9,"windSpeed":2.81,"windGust":4.92,"windBearing":131,"cloudCover":0,"uvIndex":0,"visibility":10,"ozone":366.1},{"time":1578988800,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":25.43,"apparentTemperature":25.43,"dewPoint":6.66,"humidity":0.44,"pressure":1[...]
