---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search.photos?client_id=b6977deb84dbcbdfdda35988b75bbed11a5cdb0654053588314a111c8bc34532&query=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search.photos?client_id=b6977deb84dbcbdfdda35988b75bbed11a5cdb0654053588314a111c8bc34532&page=56&query=denver>;
        rel="last", <https://api.unsplash.com/search.photos?client_id=b6977deb84dbcbdfdda35988b75bbed11a5cdb0654053588314a111c8bc34532&page=2&query=denver>;
        rel="next"
      X-Total:
      - '552'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '48'
    body:
      encoding: UTF-8
      string: '{"photos":{"total":482,"total_pages":49,"results":[{"id":"tjoxkIODoCE","created_at":"2018-12-30T03:02:24-05:00","updated_at":"2019-12-21T00:02:13-05:00","promoted_at":null,"width":5472,"height":3648,"color":"#151613","description":null,"alt_description":"aerial
        photo of city","urls":{"raw":"https://images.unsplash.com/photo-1546156929-a4c0ac411f47?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMDg5MX0","full":"https://images.unsplash.com/photo-1546156929-a4c0ac411f47?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjExMDg5MX0","regular":"https://images.unsplash.com/photo-1546156929-a4c0ac411f47?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExMDg5MX0","small":"https://images.unsplash.com/photo-1546156929-a4c0ac411f47?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjExMDg5MX0","thumb":"https://images.unsplash.com/photo-1546156929-a4c0ac411f47?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjExMDg5MX0"},"links":{"self":"https://api.unsplash.com/photos/tjoxkIODoCE","html":"https://unsplash.com/photos/tjoxkIODoCE","download":"https://unsplash.com/photos/tjoxkIODoCE/download","download_location":"https://api.unsplash.com/photos/tjoxkIODoCE/download"},"categories":[],"likes":24,"liked_by_user":false,"current_user_collections":[],"user":{"id":"3NS5bv8kZU4","updated_at":"2019-11-30T08:24:34-05:00","username":"theadventurebitch","name":"Cassie
        Gallegos","first_name":"Cassie","last_name":"Gallegos","twitter_username":"adventure_bitch","portfolio_url":"Https://www.theadventurebitch.com","bio":"Personal
        Instagram: @TheAdventureBitch\r\nPhotography Instagram: @TejasPrints","location":"Denver,
        CO","links":{"self":"https://api.unsplash.com/users/theadventurebitch","html":"https://unsplash.com/@theadventurebitch","photos":"https://api.unsplash.com/users/theadventurebitch/photos","likes":"https://api.unsplash.com/users/theadventurebitch/likes","portfolio":"https://api.unsplash.com/users/theadventurebitch/portfolio","following":"https://api.unsplash.com/users/theadventurebitch/following","followers":"https://api.unsplash.com/users/theadventurebitch/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-fb-1511138673-b709a8d54c15.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-fb-1511138673-b709a8d54c15.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-fb-1511138673-b709a8d54c15.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"Theadventurebitch","total_collections":5,"total_likes":0,"total_photos":17,"accepted_tos":true},"tags":[{"type":"search","title":"outdoors"},{"type":"landing_page","title":"nature","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"nature","pretty_slug":"Nature"}},"title":"Nature
        Images","subtitle":"Download free nature images","description":"Choose from
        a curated selection of nature photos. Always free on Unsplash.","meta_title":"900+
        Nature Images: Download HD Pictures & Photos on Unsplash","meta_description":"Choose
        from hundreds of free nature photos. Download HD nature pictures for free
        on Unsplash.","cover_photo":{"id":"NDuPLKYRXQU","created_at":"2015-05-13T06:18:09-04:00","updated_at":"2019-12-14T00:02:19-05:00","promoted_at":"2015-05-13T06:18:09-04:00","width":4592,"height":3056,"color":"#5E9FBE","description":"Icy
        blue mountain range","alt_description":"bird''s-eye view of mountain rang","urls":{"raw":"https://images.unsplash.com/photo-1431512284068-4c4002298068?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjE3MzYxfQ","full":"https://images.unsplash.com/photo-1431512284068-4c4002298068?ixlib=rb-1.2.1&q=85&[...]
