---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?page=1&per_page=10&query=cats&utm_campaign=api-credit&utm_medium=referral&utm_source=alices_terrific_client_app
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID b6977deb84dbcbdfdda35988b75bbed11a5cdb0654053588314a111c8bc34532
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?page=877&per_page=10&query=cats&utm_campaign=api-credit&utm_medium=referral&utm_source=alices_terrific_client_app>;
        rel="last", <https://api.unsplash.com/search/photos?page=2&per_page=10&query=cats&utm_campaign=api-credit&utm_medium=referral&utm_source=alices_terrific_client_app>;
        rel="next"
      X-Total:
      - '8763'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: UTF-8
      string: '{"total":8763,"total_pages":877,"results":[{"id":"7GX5aICb5i4","created_at":"2018-12-03T10:59:55-05:00","updated_at":"2020-01-14T00:02:04-05:00","promoted_at":"2018-12-04T01:34:49-05:00","width":4000,"height":6000,"color":"#27201C","description":"bean
        the cat","alt_description":"brown tabby cat","urls":{"raw":"https://images.unsplash.com/photo-1543852786-1cf6624b9987?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMDg5MX0","full":"https://images.unsplash.com/photo-1543852786-1cf6624b9987?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjExMDg5MX0","regular":"https://images.unsplash.com/photo-1543852786-1cf6624b9987?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExMDg5MX0","small":"https://images.unsplash.com/photo-1543852786-1cf6624b9987?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjExMDg5MX0","thumb":"https://images.unsplash.com/photo-1543852786-1cf6624b9987?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjExMDg5MX0"},"links":{"self":"https://api.unsplash.com/photos/7GX5aICb5i4","html":"https://unsplash.com/photos/7GX5aICb5i4","download":"https://unsplash.com/photos/7GX5aICb5i4/download","download_location":"https://api.unsplash.com/photos/7GX5aICb5i4/download"},"categories":[],"likes":526,"liked_by_user":false,"current_user_collections":[],"user":{"id":"s7H6D5HRE-o","updated_at":"2020-01-14T08:47:02-05:00","username":"jaehunpark","name":"Jae
        Park","first_name":"Jae","last_name":"Park","twitter_username":null,"portfolio_url":"http://instagram.com/jaehun.park","bio":"i
        like to pull out my camera before i eat\r\ninquires: okfourok@gmail.com","location":"Edmonton,
        Alberta","links":{"self":"https://api.unsplash.com/users/jaehunpark","html":"https://unsplash.com/@jaehunpark","photos":"https://api.unsplash.com/users/jaehunpark/photos","likes":"https://api.unsplash.com/users/jaehunpark/likes","portfolio":"https://api.unsplash.com/users/jaehunpark/portfolio","following":"https://api.unsplash.com/users/jaehunpark/following","followers":"https://api.unsplash.com/users/jaehunpark/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1535352693904-8f6173683f9d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-1535352693904-8f6173683f9d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-1535352693904-8f6173683f9d?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"jaehun.park","total_collections":0,"total_likes":12,"total_photos":19,"accepted_tos":true},"tags":[{"type":"landing_page","title":"cat","source":{"ancestry":{"type":{"slug":"images","pretty_slug":"Images"},"category":{"slug":"animals","pretty_slug":"Animals"},"subcategory":{"slug":"cat","pretty_slug":"Cat"}},"title":"Cat
        Images","subtitle":"Download free cat images","description":"Choose from a
        curated selection of cat photos. Always free on Unsplash.","meta_title":"900+
        Cat Images: Download HD Pictures & Photos on Unsplash","meta_description":"Choose
        from hundreds of free cat photos. Download HD cat pictures for free on Unsplash.","cover_photo":{"id":"CVS4kWJaYLs","created_at":"2018-01-29T03:19:42-05:00","updated_at":"2019-12-14T00:02:24-05:00","promoted_at":"2018-01-29T09:39:56-05:00","width":3024,"height":3024,"color":"#342C3B","description":null,"alt_description":"gray
        tabby cat in yellow and black hand-case backpack","urls":{"raw":"https://images.unsplash.com/photo-1517213849290-bbbfffdc6da3?ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1517213849290-bbbfffdc6da3?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb",[...]
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?page=1&per_page=10&query=denver&utm_campaign=api-credit&utm_medium=referral&utm_source=alices_terrific_client_app
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID b6977deb84dbcbdfdda35988b75bbed11a5cdb0654053588314a111c8bc34532
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?page=47&per[...]
