---
http_interactions:
- request:
    method: get
    uri: https://api.giphy.com/v1/gifs/search?key=HWJsI5MmbYRTDTCq4uuAktPVd0H23OAF&q=Mostly%20Cloudy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cachiness-Origin-Respect:
      - 30s
      X-Rule-Debug:
      - '1'
      X-Cachiness-Cdn-Content-If-Error-Ttl:
      - '86400.000'
      X-Cachiness-Cdn-Content-While-Revalidate-Ttl:
      - '1200.000'
      X-Cachiness-Cdn-Content-Varnish-Grace-Ttl:
      - '86400.000'
      X-Cachiness-Rule-Name:
      - debug_rule_giphy_api_surrogate_ttl
      X-Cachiness-Edge-Timeout:
      - '30.000'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"type":"gif","id":"HoUgegTjteXCw","url":"https:\/\/giphy.com\/gifs\/sky-clouds-cloud-HoUgegTjteXCw","slug":"sky-clouds-cloud-HoUgegTjteXCw","bitly_gif_url":"https:\/\/gph.is\/XJu5Vx","bitly_url":"https:\/\/gph.is\/XJu5Vx","embed_url":"https:\/\/giphy.com\/embed\/HoUgegTjteXCw","username":"","source":"https:\/\/unlessaseyinokey.tumblr.com\/post\/46447985822","title":"mostly
        cloudy sky GIF","rating":"g","content_url":"","source_tld":"unlessaseyinokey.tumblr.com","source_post_url":"https:\/\/unlessaseyinokey.tumblr.com\/post\/46447985822","is_sticker":0,"import_datetime":"2013-03-28
        00:17:53","trending_datetime":"1970-01-01 00:00:00","images":{"downsized_large":{"height":"250","size":"438492","url":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/giphy.gif?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=giphy.gif","width":"500"},"fixed_height_small_still":{"height":"100","size":"9754","url":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/100_s.gif?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=100_s.gif","width":"200"},"original":{"frames":"14","hash":"1c9906c57206c6ae2c81f3e307231ffc","height":"250","mp4":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/giphy.mp4?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=giphy.mp4","mp4_size":"160489","size":"438492","url":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/giphy.gif?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=giphy.gif","webp":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/giphy.webp?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=giphy.webp","webp_size":"239306","width":"500"},"fixed_height_downsampled":{"height":"200","size":"143008","url":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/200_d.gif?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=200_d.gif","webp":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/200_d.webp?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=200_d.webp","webp_size":"98280","width":"400"},"downsized_still":{"height":"250","size":"43740","url":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/giphy_s.gif?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=giphy_s.gif","width":"500"},"fixed_height_still":{"height":"200","size":"21917","url":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/200_s.gif?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=200_s.gif","width":"400"},"downsized_medium":{"height":"250","size":"438492","url":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/giphy.gif?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=giphy.gif","width":"500"},"downsized":{"height":"250","size":"438492","url":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/giphy.gif?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=giphy.gif","width":"500"},"preview_webp":{"height":"104","size":"29974","url":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/giphy-preview.webp?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=giphy-preview.webp","width":"208"},"original_mp4":{"height":"240","mp4":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/giphy.mp4?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=giphy.mp4","mp4_size":"160489","width":"480"},"fixed_height_small":{"height":"100","mp4":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/100.mp4?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=100.mp4","mp4_size":"23122","size":"104385","url":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/100.gif?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=100.gif","webp":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/100.webp?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=100.webp","webp_size":"40852","width":"200"},"fixed_height":{"height":"200","mp4":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/200.mp4?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=200.mp4","mp4_size":"80260","size":"298226","url":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/200.gif?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=200.gif","webp":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/200.webp?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=200.webp","webp_size":"114980","width":"400"},"downsized_small":{"height":"224","mp4":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/giphy-downsized-small.mp4?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=giphy-downsized-small.mp4","mp4_size":"49651","width":"448"},"preview":{"height":"116","mp4":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/giphy-preview.mp4?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=giphy-preview.mp4","mp4_size":"16512","width":"232"},"fixed_width_downsampled":{"height":"100","size":"45734","url":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/200w_d.gif?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=200w_d.gif","webp":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/200w_d.webp?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=200w_d.webp","webp_size":"28284","width":"200"},"fixed_width_small_still":{"height":"50","size":"3374","url":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/100w_s.gif?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=100w_s.gif","width":"100"},"fixed_width_small":{"height":"50","mp4":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/100w.mp4?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=100w.mp4","mp4_size":"9346","size":"37237","url":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/100w.gif?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=100w.gif","webp":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/100w.webp?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=100w.webp","webp_size":"18704","width":"100"},"original_still":{"height":"250","size":"43740","url":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/giphy_s.gif?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=giphy_s.gif","width":"500"},"fixed_width_still":{"height":"100","size":"9552","url":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/200w_s.gif?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=200w_s.gif","width":"200"},"looping":{"mp4":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/giphy-loop.mp4?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=giphy-loop.mp4","mp4_size":"1214124"},"fixed_width":{"height":"100","mp4":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/200w.mp4?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=200w.mp4","mp4_size":"23768","size":"102550","url":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/200w.gif?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=200w.gif","webp":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/200w.webp?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=200w.webp","webp_size":"40852","width":"200"},"preview_gif":{"height":"48","size":"49302","url":"https:\/\/media2.giphy.com\/media\/HoUgegTjteXCw\/giphy-preview.gif?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=giphy-preview.gif","width":"96"},"480w_still":{"url":"https:\/\/media1.giphy.com\/media\/HoUgegTjteXCw\/480w_s.jpg?cid=e3b0c442d4404c7ac52c045fef075f42eece478f4c1200ca&rid=480w_s.jpg","width":"480","height":"240"}},"analytics":{"onload":{"url":"https:\/\/giphy-analytics.giphy.com\/simple_analytics?response_id=d4404c7ac52c045fef075f42eece478f4c1200ca&event_type=GIF_SEARCH&gif_id=HoUgegTjteXCw&action_type=SEEN"},"onclick":{"url":"https:\/\/giphy-analytics.giphy.com\/simple_analytics?response_id=d4404c7ac52c045fef075f42eece478f4c1200ca&event_type=GIF_SEARCH&gif_id=HoUgegTjteXCw&action_type=CLICK"},"onsent":{"url":"https:\/\/giphy-analytics.giphy.com\/simple_analytics?response_id=d4404c7ac52c045fef075f42eece478f4c1200ca&event_type=GIF_SEARCH&gif_id=HoUgegTjteXCw&action_type=SENT"}}},{"type":"gif","id":"qq5gwamAHVofm","url":"https:\/\/giphy.com\/gifs\/clouds-love-cute-qq5gwamAHVofm","slug":"clouds-love-cute-qq5gwamAHVofm","bitly_gif_url":"https:\/\/gph.is\/17AZXBi","bitly_url":"https:\/\/gph.is\/17AZXBi","embed_url":"https:\/\/giphy.com\/embed\/qq5gwamAHVofm","username":"","source":"https:\/\/kareli[...]
