---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_GEOCODE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 14 Jan 2020 20:47:54 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_API_KEY/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 808ms
      X-Forecast-Api-Calls:
      - '9'
      X-Response-Time:
      - 182.804ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1579034874,"summary":"Clear","icon":"clear-day","nearestStormDistance":12,"nearestStormBearing":287,"precipIntensity":0,"precipProbability":0,"temperature":58.57,"apparentTemperature":58.57,"dewPoint":3.71,"humidity":0.11,"pressure":1005.1,"windSpeed":8.63,"windGust":18.12,"windBearing":212,"cloudCover":0,"uvIndex":1,"visibility":10,"ozone":361},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-day","data":[{"time":1579034820,"precipIntensity":0,"precipProbability":0},{"time":1579034880,"precipIntensity":0,"precipProbability":0},{"time":1579034940,"precipIntensity":0,"precipProbability":0},{"time":1579035000,"precipIntensity":0,"precipProbability":0},{"time":1579035060,"precipIntensity":0,"precipProbability":0},{"time":1579035120,"precipIntensity":0,"precipProbability":0},{"time":1579035180,"precipIntensity":0,"precipProbability":0},{"time":1579035240,"precipIntensity":0,"precipProbability":0},{"t[...]
