---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_GEOCODE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 13 Jan 2020 04:28:04 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_API_KEY/39.7392358,-104.990251
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 175ms
      X-Forecast-Api-Calls:
      - '5'
      X-Response-Time:
      - 139.049ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1578889684,"summary":"Clear","icon":"clear-night","nearestStormDistance":10,"nearestStormBearing":273,"precipIntensity":0,"precipProbability":0,"temperature":31.54,"apparentTemperature":31.8,"dewPoint":5.41,"humidity":0.33,"pressure":1016.8,"windSpeed":0.87,"windGust":2.42,"windBearing":119,"cloudCover":0.1,"uvIndex":0,"visibility":10,"ozone":396.3},"minutely":{"summary":"Clear
        for the hour.","icon":"clear-night","data":[{"time":1578889680,"precipIntensity":0,"precipProbability":0},{"time":1578889740,"precipIntensity":0,"precipProbability":0},{"time":1578889800,"precipIntensity":0,"precipProbability":0},{"time":1578889860,"precipIntensity":0,"precipProbability":0},{"time":1578889920,"precipIntensity":0,"precipProbability":0},{"time":1578889980,"precipIntensity":0,"precipProbability":0},{"time":1578890040,"precipIntensity":0,"precipProbability":0},{"time":1578890100,"precipIntensity":0,"precipProbability":0},{"t[...]
[...]
